<html>
<head>
    <meta name="404" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Not Found Page" name="description" />
    <meta content="@wahyuagungs" name="author" />
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>HTTP 404 | Page Not Found</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>


<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-muted">The page you are looking for was not found.</p>
            <p class="text-muted">Return <a class="text-danger" href="/">Home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/static/vendors/js/jquery.min.js"></script>
<script src="/static/vendors/js/bootstrap.min.js"></script>
</body>
</html>